<form action="/cart" method="POST" class="product-details">
  <input type="hidden" name="productId" value="<%= product.id %>" />
  <button type="submit" class="btn"><a href=""> Add to Cart</a></button>
</form>
