<%- include("./includes/header.ejs") %>
<main class="main">
  <% if(prods.length > 0){ %>

  <div class="grid">
    <% for(let product of prods){ %>
    <article class="card product-item">
      <section class="card-header">
        <h1 class="product-title"><%= product.title %></h1>
      </section>
      <section class="card-image">
        <img src="" alt="" />
      </section>
      <section class="card-content">
        <h2 class="product-price">$9.99</h2>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
          excepturi?
        </p>
      </section>
      <section class="card-action">
        <button class="btn">Add to Cart</button>
      </section>
    </article>
    <% } %>
  </div>

  <% } else { %>
  <h1>Shop</h1>
  <p>List of all Products</p>
  <% } %>
</main>

<%- include("./includes/footer.ejs") %>
